.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #f8c291;
  font-size: 25px;
  font-family: "Cambria";
}

.back {
  display: flex;
  width: 100vw;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 30px;
}
.formName {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.button {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;
}
.link {
  color: black;
}

.title {
  display: flex;
  width: 100vh;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  color: #23282e;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  font-size: 16px;
  font-family: Georgia;
  color: #23282e;
}
